.carousel {
    position: relative;
    overflow: hidden;
}

.carousel-track {
    display: flex;
    transition: transform 0.3s ease-in-out;
    overflow: visible;
    padding: 0;
    margin: 0;
}

.item-carousel {
    flex: 0 0 auto;
    width: 350px; /* Điều chỉnh kích thước phù hợp */
    margin: 0 10px; /* Giữ khoảng cách */
}

#prevBtn, #nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

#prevBtn {
    left: 10px;
}

#nextBtn {
    right: 10px;
}